.container {
  background-color: rgba(73, 76, 125, 0.852);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#passblock {
  display: flex;
  align-items: center;
  justify-content: center;
}
