/* body{

} */

h1{
  color: rgb(190, 147, 39);
}

h3{
  color: black;
}

/* background-color: rgba(55, 4, 4, 0.815); */
.header{
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crud{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.crud-btn{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 800px;
}