<!-- <p>add-password works!</p> -->
<form #f="ngForm" (ngSubmit)="submit(f.value,f)">
  <div class="form-group">
    <label for="website">Enter website name</label>
    <!-- <input id="website" type="text"> -->
    <input required ngModel type="text" id="website" name="website" class="form-control">
  </div>
  <div>
    <label for="url">Enter url</label>
    <input required ngModel type="text" id="url" name="url" class="form-control">
  </div>
  <div>
    <label for="password">Enter Password</label>
    <input required ngModel type="password" id="password" name="password" class="form-control">
    <input type="checkbox" name="cbox" (click)="showPass()">Show Password
  </div>
  <button type="submit" mat-raised-button color="warn" [disabled]="!f.valid" (click)="savePassword()">Save</button>
</form>
<h4 id="h4"></h4>