.btn-delete{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  /* left: 30px; */
}


.col-delete{
  /* display: flex;
  justify-content: baseline;
  align-items: center; */
  /* left: 500px; */
}